<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#">Bitware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="/dash">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link disabled" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link disabled" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="nav-link disabled" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top:50px">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>